doctype html
html
  head
    title Crinet
    meta(name="description" content="The first Social Network designed for the Crypto Community. Learn, build and share crypto ideas All-in-one decentralized app")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="icon" type="image/png" sizes="180x180" href="content/favicon.png")
  body
    #app
      v-header
      block content
      .wrapper
        v-footer
